<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row"><label class="labelTop"> پرونده ها </label></div>
    </div>
  </div>
</div>
<div class="mt--7 m-1">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <p-toast></p-toast>

            <div class="card">
              <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-user-plus"
                    iconPos="left"
                    label="جدید"
                    class="p-button-success p-mr-2"
                    (click)="openNew()"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-search"
                    style="margin-left: 5px"
                    iconPos="left"
                    label="فیلتر"
                    class="p-button-primary p-mr-2"
                    (click)="filter()"
                  ></button>
                </ng-template>

                <ng-template pTemplate="right">
                  <div class="col-md-12 text-danger" style="direction: rtl">
                    فرایند پرونده ها فقط مربوط به پرونده هایی که نوع پرونده شان
                    حقوقی و زیر نوع پرونده شان اجرایی است می باشد
                  </div>
                </ng-template>
              </p-toolbar>

              <p-table
                #dt
                [value]="parvandehs"
                [rows]="10"
                [paginator]="true"
                [globalFilterFields]="[
                  'name',
                  'country.name',
                  'representative.name',
                  'status'
                ]"                
                [(selection)]="selectparvandehs"
                [rowHover]="true"
                dataKey="Id"
                currentPageReportTemplate="نمایش {first} تا {last} | از {totalRecords}"
                [showCurrentPageReport]="true"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="ShomarehParvandehDarVahedHoghooghi">
                      شماره پرونده در واحد حقوقی
                      <p-sortIcon
                        field="ShomarehParvandehDarVahedHoghooghi"
                      ></p-sortIcon>
                    </th>
                    <th pSortableColumn="TashkilParvandehDarVahedHoghooghiDate">
                      تاریخ تشکیل پرونده در واحد حقوقی
                      <p-sortIcon
                        field="TashkilParvandehDarVahedHoghooghiDate"
                      ></p-sortIcon>
                    </th>
                    <th pSortableColumn="ParvandehName">
                      نام پرونده
                      <p-sortIcon field="ParvandehName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="EdarehDaaviMalekParvandehAstId">
                      اداره دعاوی مالک پرونده است؟
                      <p-sortIcon
                        field="EdarehDaaviMalekParvandehAstId"
                      ></p-sortIcon>
                    </th>
                    <th pSortableColumn="MalekParvandehZoneId">
                      کد سرپرستی مالک پرونده
                      <p-sortIcon field="MalekParvandehZoneId"></p-sortIcon>
                    </th>
                    <th pSortableColumn=" ">
                      نام سرپرستی مالک پرونده
                      <p-sortIcon field=" "></p-sortIcon>
                    </th>
                    <th></th>
                  </tr>
                  <tr [hidden]="hideFilter">
                    <th></th>
                    <th>
                      <input
                        pInputText
                        type="text"
                        style="width: 100%"
                        (input)="
                          dt.filter(
                            $event.target.value,
                            'ShomarehParvandehDarVahedHoghooghi'
                          )
                        "
                      />
                    </th>
                    <th>
                      <input
                        pInputText
                        type="text"
                        style="width: 100%"
                        (input)="
                          dt.filter(
                            $event.target.value,
                            'TashkilParvandehDarVahedHoghooghiDate'
                          )
                        "
                      />
                    </th>
                    <th>
                      <input
                        pInputText
                        type="text"
                        style="width: 100%"
                        (input)="
                          dt.filter($event.target.value, 'ParvandehName')
                        "
                      />
                    </th>
                    <th>
                      <input
                        pInputText
                        type="text"
                        style="width: 100%"
                        (input)="
                          dt.filter(
                            $event.target.value,
                            'EdarehDaaviMalekParvandehAstId'
                          )
                        "
                      />
                    </th>
                    <th>
                      <input
                        pInputText
                        type="text"
                        style="width: 100%"
                        (input)="
                          dt.filter($event.target.value, 'MalekParvandehZoneId')
                        "
                      />
                    </th>
                    <th>
                      <input
                        pInputText
                        type="text"
                        style="width: 100%"
                        (input)="dt.filter($event.target.value, '')"
                      />
                    </th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-parvandeh>
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="parvandeh"></p-tableCheckbox>
                    </td>
                    <td>
                      {{ parvandeh.ShomarehParvandehDarVahedHoghooghi }}
                    </td>
                    <td>
                      {{
                        parvandeh.TashkilParvandehDarVahedHoghooghiDate
                          | jalalidate
                      }}
                    </td>
                    <td>{{ parvandeh.ParvandehName }}</td>
                    <td>{{ parvandeh.EdarehDaaviMalekParvandehAstName }}</td>
                    <td>{{ parvandeh.MalekParvandehZoneId }}</td>
                    <td>{{ parvandeh.ZoneName }}</td>
                    <td>
                      <div class="row">
                        <button
                          class="btn btn-primary pi pi-user-edit p-2 m-1"
                          title="ویرایش"
                          (click)="editProduct(parvandeh)"
                        ></button>
                        <button
                          class="btn btn-danger ni ni-fat-remove p-2 m-1"
                          title="حذف"
                          (click)="deleteParvandeh(parvandeh)"
                        ></button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="p-ai-center">
                    مجموع پرونده ها :
                    {{ parvandehs ? parvandehs.length : 0 }}
                  </div>
                </ng-template>
              </p-table>
            </div>

            <!-- Add Update -->
            <p-dialog
              [(visible)]="parvandehDialog"
              [style]="{ width: '70%', direction: 'rtl' }"
              header="{{ btnUpdate ? 'ویرایش پرونده ها' : 'ثبت پرونده ها' }}"
              [modal]="true"
              styleClass="p-fluid"
            >
              <ng-template pTemplate="content">
                <div class="col-md-12 text-danger text-center">
                  {{
                    btnUpdate
                      ? " این فرم، فقط فرم ویرایش پرونده که نوع پرونده حقوقی و زیر نوع پرونده اجرایی است می باشد"
                      : "این فرم، فقط فرم ثبت پرونده که نوع پرونده حقوقی و زیر نوع پرونده اجرایی است می باشد"
                  }}
                </div>
                <hr style="margin-top: 1rem; margin-bottom: 1rem" />
                <form
                  autocomplete="off"
                  [formGroup]="checkoutForm"
                  id="add_parvandeh"
                  name="add_parvandeh"
                  (ngSubmit)="onSubmit($event)"
                  #doc="ngForm"
                >
                  <div class="row col-md-12">
                    <div class="col-md-6">
                      <label for="ShomarehParvandehDarVahedHoghooghi">
                        شماره پرونده در واحد حقوقی
                      </label>
                      <input
                        type="text"
                        pInputText
                        [attr.disabled]="disabled"
                        id="ShomarehParvandehDarVahedHoghooghi"
                        formControlName="ShomarehParvandehDarVahedHoghooghi"
                        [(ngModel)]="
                          parvandeh.ShomarehParvandehDarVahedHoghooghi
                        "
                        autofocus
                      />
                    </div>

                    <div class="col-md-6">
                      <label for="TashkilParvandehDarVahedHoghooghiDate"
                        >تاریخ تشکیل پرونده در واحد حقوقی</label
                      >
                      <div class="row col-md-12">
                        <div class="col-md-11">
                          <input
                            matInput
                            pInputText
                            formControlName="TashkilParvandehDarVahedHoghooghiDate"
                            [(ngModel)]="
                              parvandeh.TashkilParvandehDarVahedHoghooghiDate
                            "
                            [matDatepicker]="picker6"
                          />
                        </div>
                        <div class="col-md-1">
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker6"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="ShomarehRadifParvandehDarVahedHoghooghi"
                        >شماره ردیف پرونده در واحد حقوقی</label
                      >
                      <input
                        type="text"
                        pInputText
                        [attr.disabled]="disabled"
                        id="ShomarehRadifParvandehDarVahedHoghooghi"
                        formControlName="ShomarehRadifParvandehDarVahedHoghooghi"
                        [(ngModel)]="
                          parvandeh.ShomarehRadifParvandehDarVahedHoghooghi
                        "
                      />
                    </div>

                    <div class="col-md-6">
                      <label
                        class="col-md-12"
                        for="EdarehDaaviMalekParvandehAstId"
                        >اداره دعاوی مالک پرونده است؟</label
                      >
                      <select
                        class="form-control"
                        id="EdarehDaaviMalekParvandehAstId"
                        formControlName="EdarehDaaviMalekParvandehAstId"
                        [(ngModel)]="parvandeh.EdarehDaaviMalekParvandehAstId"
                      >
                        <option
                          *ngFor="
                            let edarehDaavi of edarehDaaviMalekParvandehAst
                          "
                          value="{{ edarehDaavi.Id }}"
                        >
                          {{ edarehDaavi.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="MalekParvandehZoneId"
                        >نام سرپرستی مالک پرونده</label
                      >
                      <select
                        class="form-control"
                        id="MalekParvandehZoneId"
                        formControlName="MalekParvandehZoneId"
                        [(ngModel)]="parvandeh.MalekParvandehZoneId"
                        #selectval
                        (change)="setCodeMalek(selectval.value)"
                      >
                        <option
                          *ngFor="
                            let malekparvandehzoneid of getMalekParvandehZone
                          "
                          value="{{ malekparvandehzoneid.Id }}"
                        >
                          {{ malekparvandehzoneid.Name }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label>کد سرپرستی مالک پرونده</label>
                      <input
                        type="text"
                        pInputText
                        id="ZoneCode"
                        formControlName="ZoneCode"
                        [(ngModel)]="parvandeh.ZoneCode"
                        [attr.disabled]="disabled"
                        value="{{ ZoneCode }}"
                      />
                    </div>

                    <div class="col-md-6">
                      <label for="ParvandehName">نام پرونده</label>
                      <input
                        type="text"
                        pInputText
                        id="ParvandehName"
                        formControlName="ParvandehName"
                        [(ngModel)]="parvandeh.ParvandehName"
                      />
                    </div>

                    <div class="col-md-6">
                      <label for="ParvandehLahYaAlayhMoasesehNoorId">
                        پرونده له موسسه اعتباری نور یا پرونده علیه موسسه اعتباری
                        نور</label
                      >

                      <select
                        class="form-control"
                        id="ParvandehLahYaAlayhMoasesehNoorId"
                        formControlName="ParvandehLahYaAlayhMoasesehNoorId"
                        [(ngModel)]="
                          parvandeh.ParvandehLahYaAlayhMoasesehNoorId
                        "
                      >
                        <option
                          *ngFor="
                            let parvandehLahYaAlayh of parvandehLahYaAlayhMoasesehNoor
                          "
                          value="{{ parvandehLahYaAlayh.Id }}"
                        >
                          {{ parvandehLahYaAlayh.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="ManshaParvandehTypeId">منشاء پرونده</label>
                      <select
                        class="form-control"
                        id="ManshaParvandehTypeId"
                        formControlName="ManshaParvandehTypeId"
                        [(ngModel)]="parvandeh.ManshaParvandehTypeId"
                      >
                        <option
                          *ngFor="
                            let manshaParvandehType of getmanshaParvandehType
                          "
                          value="{{ manshaParvandehType.Id }}"
                        >
                          {{ manshaParvandehType.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="TashilatiYaGheyrTashilatiId">
                        تسهیلاتی یا غیرتسهیلاتی
                      </label>

                      <select
                        class="form-control"
                        id="TashilatiYaGheyrTashilatiId"
                        formControlName="TashilatiYaGheyrTashilatiId"
                        [(ngModel)]="parvandeh.TashilatiYaGheyrTashilatiId"
                      >
                        <option
                          *ngFor="
                            let tashilatiYaGheyr of tashilatiYaGheyrTashilati
                          "
                          value="{{ tashilatiYaGheyr.Id }}"
                        >
                          {{ tashilatiYaGheyr.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="TashkilParvandehTashilatiDate"
                        >تاریخ تشکیل پرونده تسهیلاتی</label
                      >
                      <div class="row col-md-12">
                        <div class="col-md-11">
                          <input
                            matInput
                            pInputText
                            formControlName="TashkilParvandehTashilatiDate"
                            [(ngModel)]="
                              parvandeh.TashkilParvandehTashilatiDate
                            "
                            [matDatepicker]="picker7"
                          />
                        </div>
                        <div class="col-md-1">
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker7"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker7></mat-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="Tozihat">توضیحات</label>
                      <input
                        type="text"
                        pInputText
                        id="Tozihat"
                        formControlName="Tozihat"
                        [(ngModel)]="parvandeh.Tozihat"
                      />
                    </div>

                    <div class="col-md-12 text-center m-1 p-1">
                      <input
                        type="submit"
                        name="save"
                        class="btn btn-success ml-1"
                        value="{{ btnUpdate ? 'ویرایش' : 'ثبت' }}"
                        id="butsave"
                        [disabled]="!doc.valid"
                        style="width: 120px"
                      />
                      <input
                        name="close"
                        class="btn btn-light"
                        value="انصراف"
                        (click)="hideDialog()"
                        style="width: 120px"
                      />
                    </div>
                  </div>
                </form>
              </ng-template>
            </p-dialog>

            <!-- delete -->
            <p-dialog
              [(visible)]="parvandehDialogDelete"
              [style]="{ width: '70%', 'z-index:': '800', direction: 'rtl' }"
              header="حذف پرونده ها"
              [modal]="true"
              styleClass="p-fluid"
            >
              <ng-template pTemplate="content">
                <div class="col-md-12 text-danger text-center">
                  این فرم، فقط فرم حذف پرونده که نوع پرونده حقوقی و زیر نوع
                  پرونده اجرایی است می باشد
                </div>
                <hr style="margin-top: 1rem; margin-bottom: 1rem" />
                <form
                  [formGroup]="checkoutForm"
                  id="delete_parvandeh"
                  name="delete_parvandeh"
                  (ngSubmit)="onSubmitDelete(parvandeh.Id)"
                  #doc="ngForm"
                >
                  <div class="row col-md-12">
                    <div class="col-md-6">
                      <label for="ShomarehParvandehDarVahedHoghooghi">
                        شماره پرونده در واحد حقوقی
                      </label>
                      <input
                        type="text"
                        pInputText
                        [attr.disabled]="disabled"
                        id="ShomarehParvandehDarVahedHoghooghi"
                        formControlName="ShomarehParvandehDarVahedHoghooghi"
                        [(ngModel)]="
                          parvandeh.ShomarehParvandehDarVahedHoghooghi
                        "
                        autofocus
                      />
                    </div>

                    <div class="col-md-6">
                      <label for="TashkilParvandehDarVahedHoghooghiDate"
                        >تاریخ تشکیل پرونده در واحد حقوقی</label
                      >
                      <div class="row col-md-12">
                        <div class="col-md-11">
                          <input
                            matInput
                            pInputText
                            formControlName="TashkilParvandehDarVahedHoghooghiDate"
                            disabled="disabled"
                            [(ngModel)]="
                              parvandeh.TashkilParvandehDarVahedHoghooghiDate
                            "
                            [matDatepicker]="picker6"
                          />
                        </div>
                        <div class="col-md-1">
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker6"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="ShomarehRadifParvandehDarVahedHoghooghi"
                        >شماره ردیف پرونده در واحد حقوقی</label
                      >
                      <input
                        type="text"
                        pInputText
                        [attr.disabled]="disabled"
                        id="ShomarehRadifParvandehDarVahedHoghooghi"
                        formControlName="ShomarehRadifParvandehDarVahedHoghooghi"
                        [(ngModel)]="
                          parvandeh.ShomarehRadifParvandehDarVahedHoghooghi
                        "
                      />
                    </div>

                    <div class="col-md-6">
                      <label
                        class="col-md-12"
                        for="EdarehDaaviMalekParvandehAstId"
                        >اداره دعاوی مالک پرونده است؟</label
                      >
                      <select
                        class="form-control"
                        id="EdarehDaaviMalekParvandehAstId"
                        formControlName="EdarehDaaviMalekParvandehAstId"
                        [attr.disabled]="disabled"  
                        [(ngModel)]="parvandeh.EdarehDaaviMalekParvandehAstId"
                      >
                        <option
                          *ngFor="
                            let edarehDaavi of edarehDaaviMalekParvandehAst
                          "
                          value="{{ edarehDaavi.Id }}"
                        >
                          {{ edarehDaavi.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="MalekParvandehZoneId"
                        >نام سرپرستی مالک پرونده</label
                      >
                      <select
                        class="form-control"
                        id="MalekParvandehZoneId"
                        formControlName="MalekParvandehZoneId"
                        [(ngModel)]="parvandeh.MalekParvandehZoneId"
                        [attr.disabled]="disabled"
                        #selectval
                        (change)="setCodeMalek(selectval.value)"
                      >
                        <option
                          *ngFor="
                            let malekparvandehzoneid of getMalekParvandehZone
                          "
                          value="{{ malekparvandehzoneid.Id }}"
                        >
                          {{ malekparvandehzoneid.Name }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label>کد سرپرستی مالک پرونده</label>
                      <input
                        type="text"
                        pInputText
                        [attr.disabled]="disabled"
                        value="{{ ZoneCode }}"
                      />
                    </div>

                    <div class="col-md-6">
                      <label for="ParvandehName">نام پرونده</label>
                      <input
                        type="text"
                        pInputText
                        id="ParvandehName"
                        formControlName="ParvandehName"
                        [attr.disabled]="disabled"
                        [(ngModel)]="parvandeh.ParvandehName"
                      />
                    </div>

                    <div class="col-md-6">
                      <label for="ParvandehLahYaAlayhMoasesehNoorId">
                        پرونده له موسسه اعتباری نور یا پرونده علیه موسسه اعتباری
                        نور</label
                      >

                      <select
                        class="form-control"
                        id="ParvandehLahYaAlayhMoasesehNoorId"
                        formControlName="ParvandehLahYaAlayhMoasesehNoorId"
                        [attr.disabled]="disabled"
                        [(ngModel)]="
                          parvandeh.ParvandehLahYaAlayhMoasesehNoorId
                        "
                      >
                        <option
                          *ngFor="
                            let parvandehLahYaAlayh of parvandehLahYaAlayhMoasesehNoor
                          "
                          value="{{ parvandehLahYaAlayh.Id }}"
                        >
                          {{ parvandehLahYaAlayh.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="ManshaParvandehTypeId">منشاء پرونده</label>
                      <select
                        class="form-control"
                        id="ManshaParvandehTypeId"
                        formControlName="ManshaParvandehTypeId"
                        [attr.disabled]="disabled"
                        [(ngModel)]="parvandeh.ManshaParvandehTypeId"
                      >
                        <option
                          *ngFor="
                            let manshaParvandehType of getmanshaParvandehType
                          "
                          value="{{ manshaParvandehType.Id }}"
                        >
                          {{ manshaParvandehType.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="TashilatiYaGheyrTashilatiId">
                        تسهیلاتی یا غیرتسهیلاتی
                      </label>

                      <select
                        class="form-control"
                        id="TashilatiYaGheyrTashilatiId"
                        formControlName="TashilatiYaGheyrTashilatiId"
                        [attr.disabled]="disabled"
                        [(ngModel)]="parvandeh.TashilatiYaGheyrTashilatiId"
                      >
                        <option
                          *ngFor="
                            let tashilatiYaGheyr of tashilatiYaGheyrTashilati
                          "
                          value="{{ tashilatiYaGheyr.Id }}"
                        >
                          {{ tashilatiYaGheyr.SabetName }}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <label for="TashkilParvandehTashilatiDate"
                        >تاریخ تشکیل پرونده تسهیلاتی</label
                      >
                      <div class="row col-md-12">
                        <div class="col-md-11">
                          <input
                            matInput
                            pInputText
                            formControlName="TashkilParvandehTashilatiDate"
                            disabled="disabled"
                            [(ngModel)]="
                              parvandeh.TashkilParvandehTashilatiDate
                            "
                            [matDatepicker]="picker7"
                          />
                        </div>
                        <div class="col-md-1">
                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker7"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker7></mat-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label for="Tozihat">توضیحات</label>
                      <input
                        type="text"
                        pInputText
                        id="Tozihat"
                        formControlName="Tozihat"
                        [attr.disabled]="disabled"
                        [(ngModel)]="parvandeh.Tozihat"
                      />
                    </div>
                    <label class="col-md-12 text-center m-2 text-danger"
                      >در صورت حذف، پرونده به طور کامل از سامانه حقوقی حذف می
                      گردد و قابل بازیابی نمی باشد.</label
                    >
                    <div class="col-md-12 text-center m-1 p-1">
                      <input
                        type="submit"
                        name="save"
                        class="btn btn-success ml-1"
                        value="{{ btnUpdate ? 'ویرایش' : 'ثبت' }}"
                        id="butsave"
                        [disabled]="!doc.valid"
                        style="width: 120px"
                      />
                      <input
                        name="close"
                        class="btn btn-light"
                        value="انصراف"
                        (click)="hideDialog()"
                        style="width: 120px"
                      />
                    </div>
                  </div>
                </form>
              </ng-template>
            </p-dialog>

            <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
